@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro" style="text-align: center;">
    <h1>Welcome to My Scripture Journal</h1>
    <p>This is a place where I record and reflect on meaningful scriptures that inspire me. It's a personal journey of spiritual growth and understanding.</p>
   

</div>
<div class="button-container" style="text-align: center;">
    <a href="/Scriptures" class="btn btn-primary">Go to Scriptures</a>
</div>
<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1>-->
    <p style="text-align: center;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


